<h3>Dag {{firstname}}!</h3>
<p>
    Welkom tot het tutoringplatform van de UHasselt. Rond je registratie af door op volgende link te klikken: 
    {{confirmationlink}}. Als je je niet geregistreerd hebt, kan je deze mail gewoon negeren.
</p>
<p>
    Groeten, 
    het UHasselt Tutoring Team
</p>