<h3>Dag {{firstname}}</h3>
<p>
    We sturen je deze mail om je te laten weten dat je niet bent toegelaten tot het UHasselt Tutoring platform. De studiebegeleiding heeft volgende boodschap voor je achtergelaten:
</p>
<p>
    "{{message}}"
</p>
<p>
    Groeten, 
    het UHasselt Tutoring Team
</p>